@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts{
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {

            var connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Debug).withUrl("https://localhost:7133/CovidHub").build();
            var covidChartList = [
                ["Tarih", "İstanbul", "Ankara", "İzmir", "Antalya", "Ordu"]
            ];

            let activeGroup = "all";

            connection.start().then(() => {
                connection.invoke("AddCityGroup", activeGroup);
                connection.invoke("GetCovidList", activeGroup);
            }).catch((err) => {
                console.log(err);
            });

            function joinGroup(groupName) {
                if (activeGroup) {
                    connection.invoke("RemoveFromCityGroup", activeGroup);
                }

                connection.invoke("AddCityGroup", groupName);
                activeGroup = groupName;
                if (groupName != "all")
                    connection.invoke("GetCityCovidList", groupName).catch((err) => {
                        console.log(err);
                    });
                else
                    connection.invoke("GetCovidList", groupName);
            }

            $("#btnistanbul").click(() => {
                joinGroup("istanbul");
            });

            $("#btnankara").click(() => {
                joinGroup("ankara");
            });

            $("#btnizmir").click(() => {
                joinGroup("izmir");
            });

            $("#btnantalya").click(() => {
                joinGroup("antalya");

            });

            $("#btnordu").click(() => {
                joinGroup("ordu");
            });


            $("#btnAll").click(() => {
                joinGroup("all");
            });

            connection.on("RecieveList", (covidList) => {
                covidChartList = covidChartList.slice(0, 1);

                covidList.forEach((item) => {
                    covidChartList.push([item.covidDate, item.city1, item.city2, item.city3, item.city4, item.city5]);
                });

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);
            });

            function drawChart() {
                var data = google.visualization.arrayToDataTable(covidChartList);

                var options = {
                    title: 'Covid19 Chart',
                    curveType: 'none',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            }
        })
    </script>
}

<div id="curve_chart" style="width: 1300px; height: 800px"></div>
